

ytd-watch-flexy{


    --meta-contents-default-height-outer:30px;
    --meta-contents-padding-vertical:4px;
    --meta-contents-default-height-inner:calc(var(--meta-contents-default-height-outer) - var(--meta-contents-padding-vertical) * 2);



    --userscript-top-bar-height: var(--ytd-masthead-height, var(--ytd-toolbar-height));

    --userscript-below-height: calc(100vh - var(--userscript-top-bar-height) - var(--ytd-watch-flexy-panel-max-height) );


 /*
    --userscript-below-zoom: calc( var(--userscript-below-height) / var(--ytd-watch-flexy-space-below-player) );
*/

    
    --userscript-h1:calc(var(--ytd-watch-flexy-panel-max-height) + var(--userscript-below-height));
    --userscript-h-tab-btn:46px;    
    --userscript-ytd-margin-6x:10px;
    /*
    --ytd-margin-6x:var(--userscript-ytd-margin-6x) !important;
    */
    --userscript-h2:calc(var(--userscript-h1) - var(--userscript-h-tab-btn) - var(--ytd-margin-6x));
    --userscript-base-height: calc(var(--userscript-h2) - var(--ytd-margin-6x));
}
/*
#primary #info{
    zoom: calc(var(--userscript-below-zoom))
}*/


ytd-watch-flexy #right-tabs{
    display:block;
}
body ytd-sentiment-bar-renderer{
    padding-top:2px;
    padding-bottom:0;
}



/* info */
 
ytd-watch-flexy:not([theater]) #info #info-contents #container h1.title{
    height:calc(2 * var(--yt-navbar-title-line-height, 2.4rem));
}


/* meta */


ytd-watch-flexy:not([theater]) #meta{
    position:relative;
    height:var(--meta-contents-default-height-outer);
}

ytd-watch-flexy:not([theater]) #meta ytd-expander{
    display:none;
}
ytd-watch-flexy:not([theater]) #meta-contents{
    position:absolute;
    bottom:0;
    width:100%;
    border:1px solid transparent;
    border-color: var(--ytd-searchbox-legacy-button-focus-color);
    --userscript-meta-contents-boundary: 2px;
    padding: 0 var(--userscript-meta-contents-boundary);
    margin-left: calc(-1 * var(--userscript-meta-contents-boundary));
    color:var(--yt-spec-text-primary);
    text-transform: var(--yt-button-text-transform, inherit);
    background-color:var(--yt-spec-general-background-b);
    opacity:1; 
}

ytd-watch-flexy:not([theater]) #meta-contents:hover ytd-video-secondary-info-renderer{
    padding:0 24px;
}
ytd-watch-flexy:not([theater]) #meta-contents:hover{
    box-shadow:0 2px 4px 0 rgba(0,0,0,.22) 
}
ytd-watch-flexy:not([theater]) #meta-contents ytd-video-secondary-info-renderer{
    border-bottom:0;
    padding:4px 4px;
    margin:0;
}
ytd-watch-flexy:not([theater]) #meta-contents:not(:hover){
    height: auto;
    padding:var(--meta-contents-padding-vertical);   
    transform-origin: 50% 100%;
    transform: scale(0.9) translateY(6px);
}

ytd-watch-flexy:not([theater]) #columns{
    padding-bottom:6px;
}

ytd-watch-flexy:not([theater]) #meta-contents:not(:hover) *{
    padding:0;margin:0;
} 
ytd-watch-flexy:not([theater]) #meta-contents:not(:hover) yt-img-shadow#avatar{
    height: calc(var(--meta-contents-default-height-inner));
    width: calc(var(--meta-contents-default-height-inner));
    margin:0px 8px;
}
ytd-watch-flexy:not([theater]) #meta-contents:not(:hover) #owner-sub-count{
    display:none;
}
ytd-watch-flexy:not([theater]) #meta-contents:not(:hover) tp-yt-paper-button{


    height: calc( var(--meta-contents-default-height-inner) );
    width: calc( 71.95px / 38.4px * var(--meta-contents-default-height-inner) );
    margin:0px 8px;
    
} 
ytd-watch-flexy:not([theater]) #meta-contents:not(:hover) ytd-badge-supported-renderer{

    margin:0px 8px;

}





#right-tabs header{
    position:relative 
}
body ytd-live-chat-frame.ytd-watch-flexy#chat{
    margin-bottom: 8px;
}
#right-tabs #material-tabs{
    position:relative;
    display:flex;
    padding:0;
    border-bottom:1px solid #e0e0e0;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.22) 
}
#right-tabs #material-tabs>a[userscript-tab-content]{
    flex:1;
    position:relative;
    display:inline-block;
    text-decoration:none;
    text-transform:uppercase;
    color:var(--yt-spec-text-secondary);
    text-align:center;
    padding:14px 2px 10px 2px;
    border:0;
    border-bottom:4px transparent solid;
    font-weight:500;
    font-size:12px;
    line-height:18px;
    cursor:pointer;
    transition: border 200ms linear 100ms;
    background-color: var(--ytd-searchbox-legacy-button-color);
    text-transform: var(--yt-button-text-transform, inherit);
    user-select: none !important;
}
#right-tabs #material-tabs>a[userscript-tab-content] svg{
    height:18px;
    padding-right:4px;
    vertical-align:bottom;
    opacity:.5;
    margin-right:4px;
    color: var(--yt-button-color, inherit);
    fill: var(--iron-icon-fill-color, currentcolor);
    stroke: var(--iron-icon-stroke-color, none);
}
#right-tabs #material-tabs>a[userscript-tab-content].active{
    font-weight:500;
    outline:0;
    color:var(--yt-spec-text-primary);
    background-color:var(--ytd-searchbox-legacy-button-focus-color);
    border-bottom:4px #ff4533 solid;
    border-bottom-color:var(--yt-brand-light-red);
}
#right-tabs #material-tabs>a[userscript-tab-content].active svg{
    opacity:.9 
}
#right-tabs #material-tabs>a[userscript-tab-content]:not(.active):hover{
    background-color:var(--ytd-searchbox-legacy-button-hover-color);
    color:var(--yt-spec-text-primary);
}
#right-tabs #material-tabs>a[userscript-tab-content]:not(.active):hover svg{
    opacity:.9 
}

#right-tabs #material-tabs a[userscript-tab-content]{
    user-select: none !important;
}

#right-tabs #material-tabs a[userscript-tab-content].hide{
    display:none;
}

#right-tabs #material-tabs a[userscript-tab-content].hide paper-ripple{
    display:none;
}


ytd-watch-flexy:not([userscript-chatblock="chat-live"]) #right-tabs #material-tabs a[userscript-tab-content="#tab-comments"].hide, 
ytd-watch-flexy:not([userscript-chatblock="chat-live"]) #right-tabs #material-tabs a[userscript-tab-content="#tab-comments"].hide:hover{
    display:inline-block;
    color: var(--yt-spec-icon-disabled);
    pointer-events: none;
}


@keyframes changeLetter {
    0% {
        content: "Loading";
    }
    33%{

        content: "Loading.";
    }
    66%{

        content: "Loading..";
    }
    100% {
      content: "Loading...";
    }
  }



span#tab3-txt-loader:empty::after{
    animation: changeLetter 3s linear infinite alternate;
    display: inline-block;
    width: 4em;
    text-align:left;
    content: " ";
    font-size: inherit;
    color: currentColor;
    transform: scaleX(0.8);
}


#right-tabs>.tab-content{
    padding:0;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.22);
    box-sizing: border-box;
    display:block;
    --yt-spec-brand-background-primary:var(--yt-spec-general-background-a);
}
#right-tabs .tab-content .tab-content-cld{
    box-sizing: border-box;
    position:relative;
    display:block;
    max-width: 100%;
    overflow: auto;
    min-height: var(--userscript-min-height);
    max-height: var(--userscript-available-height);
    padding:16px;
}

/* too many space at the right */
#right-tabs .tab-content .tab-content-cld#tab-comments,
#right-tabs .tab-content .tab-content-cld#tab-videos
{
    padding-right: 4px;
}

/* playlist container double scrolling */
#right-tabs .tab-content .tab-content-cld#tab-list{

    padding:0;
    overflow:hidden;
}

/* fix the rendering block overflow x problem */
#right-tabs .tab-content .tab-content-cld#tab-videos ytd-compact-video-renderer yt-interaction.extended{
    max-width: 100%;
}



@supports (content-visibility: hidden){
    
    /* speed up rendering */

    .tab-content-cld #contents, .tab-content-cld #sections, .tab-content-cld #items{
        content-visibility: auto;
    }

    .tab-content-cld ytd-comment-renderer, .tab-content-cld ytd-compact-video-renderer{
        content-visibility: visible;
    }

    .tab-content-cld #continuations{
        content-visibility: visible;
    }

    .tab-content-cld ytd-popup-container, 
    .tab-content-cld tp-yt-iron-dropdown, 
    .tab-content-cld #contentWrapper, 
    .tab-content-cld ytd-menu-popup-renderer{
        content-visibility: visible;


    }

    ytd-live-chat-frame#chat, ytd-live-chat-frame#chat iframe{
        
        content-visibility: visible;
    }

}

#right-tabs .tab-content-cld.hideOnRight:not([lazy-loading]){
    display:none;
    visibility:collapse;
}

/* force the content INSIDE the page displayable content area for rendering */
#right-tabs .tab-content .tab-content-cld.hideOnRight[lazy-loading]{
    position: absolute;
    z-index:-99999;
    

    width: var(--ytd-watch-flexy-sidebar-min-width, 300px);
    height: var(--ytd-watch-flexy-min-player-height, 480px);

    left:calc(95vw - var(--ytd-watch-flexy-sidebar-min-width, 300px));
    top: calc(50vh - 0.5 * var(--ytd-watch-flexy-min-player-height, 480px));
    
    /*
    left:10vw;
    top:10vh;
    width:80vw;
    height:80vh;*/
    max-height:none;
    min-height:0;
    max-width: none;
    min-width: 0;
    pointer-events: none;
    user-select: none;
}

#right-tabs .tab-content .tab-content-cld.hideOnRight[lazy-loading]>ytd-comments#comments{

    max-height:none;
    min-height:0;
    max-width: none;
    min-width: 0;

    height:100%;
    width:100%;
    display:block;
    position:relative;
}



#right-tabs .tab-content #tab-info #content{
    max-height:100% 
}
#right-tabs .nav-link{
    font-size:1.6em 
}
/*
#right-tabs ytd-comments{
    width:100%!important 
}*/
@media only screen and (max-width:520px){
    #right-tabs .nav-tabs#material-tabs>li>a{
        font-size:11px 
   }
}
paper-spinner.yt-next-continuation{
    box-sizing:content-box!important 
}




ytd-live-chat-frame#chat:not([collapsed])>.ytd-live-chat-frame#show-hide-button:first-child{
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    box-sizing: border-box;
}
body ytd-watch-flexy[flexy] #chat.ytd-watch-flexy:not([collapsed]).ytd-watch-flexy, 
body ytd-watch-flexy[flexy] #chat-container.ytd-watch-flexy:not([chat-collapsed]).ytd-watch-flexy body ytd-watch-flexy[flexy][js-panel-height_] #chat.ytd-watch-flexy:not([collapsed]).ytd-watch-flexy, 
body ytd-watch-flexy[flexy][js-panel-height_] #chat-container.ytd-watch-flexy:not([chat-collapsed]).ytd-watch-flexy {
    --ytd-watch-flexy-chat-max-height2: calc(var(--userscript-base-height) - 20px);
    height: var(--ytd-watch-flexy-chat-max-height2);
    min-height: 10px;
}
ytd-watch-flexy[userscript-chatblock][userscript-chat-collapsed]{
    --userscript-available-height: calc(var(--userscript-base-height) - 42px);
    --userscript-min-height: var(--userscript-available-height);
}
ytd-watch-flexy[userscript-chatblock]:not([userscript-chat-collapsed]){
    --userscript-available-height: 46px;
    --userscript-min-height: 0;
    --userscript-chatroom-height: calc(var(--userscript-base-height) - 6px);
}
ytd-watch-flexy:not([userscript-chatblock]):not([userscript-chat-collapsed]){
    --userscript-available-height: var(--userscript-base-height);
    --userscript-min-height: var(--userscript-available-height);
}
ytd-watch-flexy ytd-playlist-panel-renderer[js-panel-height_] #container.ytd-playlist-panel-renderer{
    min-height: 0;
    max-height: var(--userscript-available-height);
}

body ytd-watch-flexy[flexy][js-panel-height_] #chat.ytd-watch-flexy:not([collapsed]).ytd-watch-flexy{

    height: var(--userscript-chatroom-height); /* not override if value not set */

}

.tab-content-cld ytd-playlist-panel-renderer{
    max-height: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
ytd-watch-flexy[theater] #secondary{
    padding-bottom: 18px;
}
body ytd-video-primary-info-renderer{
    padding:12px 0 2px 0; 
}



/* left side - like menu smaller */
body #menu-container ytd-menu-renderer{
    margin-top:-10px;
    zoom:0.85;
    
}

#primary #info{
    zoom:0.96;
}

#primary #info ytd-menu-renderer yt-icon-button{

    zoom:0.9;
}

/* smaller text in tab Info */
#right-tabs>.tab-content #tab-info>ytd-expander{
    zoom: 0.95;
}

/* smaller text in tab Comments */
#right-tabs>.tab-content #tab-comments>#comments #main.ytd-comment-renderer{
    zoom: 0.95;
}


#right-tabs>.tab-content #tab-comments>#comments ytd-comments-header-renderer{
    padding:0;margin-top:0;margin-left:0;margin-right:0;
/*    margin-bottom:var(--ytd-comment-thread-margin-bottom, 16px);*/
}

#right-tabs>.tab-content #tab-info ytd-expander{
    /* space fix for tab INFO */
    padding:0;
    margin:0;
}

#right-tabs>.tab-content #tab-info ytd-expander, #right-tabs>.tab-content #tab-info ytd-expander .content.ytd-metadata-row-header-renderer, #right-tabs>.tab-content #tab-info ytd-expander #title.ytd-metadata-row-renderer, #right-tabs>.tab-content #tab-info ytd-expander .ytd-metadata-row-renderer, #right-tabs>.tab-content #tab-info ytd-expander ytd-metadata-row-renderer {
    
/* smaller text for tab INFO */
    font-size: var(--ytd-user-comment_-_font-size);
    font-weight: var(--ytd-user-comment_-_font-weight);
    line-height: var(--ytd-user-comment_-_line-height);
    letter-spacing: var(--ytd-user-comment_-_letter-spacing);
}

#right-tabs .tab-content .tab-content-cld#tab-videos #ytd-userscript-watch-next-videos {

/* smaller text for tab Videos */
    zoom:0.94;

}



/* align scrollbar style */
[userscript-scrollbar-render]::-webkit-scrollbar {
    width: 16px;
}
[userscript-scrollbar-render]::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--yt-spec-text-secondary);
}
/* Colorize the scroll bar (chrome, safari, edge) */
[standardized-themed-scrollbar]::-webkit-scrollbar-thumb, [standardized-themed-scrollbar] ::-webkit-scrollbar-thumb{
    background-color: var(--paper-checkbox-unchecked-color) !important;
}
[standardized-themed-scrollbar]::-webkit-scrollbar-thumb:hover, [standardized-themed-scrollbar] ::-webkit-scrollbar-thumb:hover{
    background-color:var(--paper-checkbox-checked-color) !important;
}

#right-tabs{ 
    padding:0;
    margin:0;
}


#tab-list ytd-playlist-panel-renderer>#container.ytd-playlist-panel-renderer{
    /* hide playlist default border */
    border:0;
}

#tab-list ytd-playlist-panel-renderer#playlist yt-icon-button#expand-button{
    /* hide expand button */
    display:none;
}

#tab-list ytd-playlist-panel-renderer#playlist #header-description, #tab-list ytd-playlist-panel-renderer#playlist  #header-description yt-formatted-string[class]{

/* fix playlist title */

    font-size: var(--ytd-user-comment_-_font-size);
    font-weight: var(--ytd-user-comment_-_font-weight);
    line-height: var(--ytd-user-comment_-_line-height);
    letter-spacing: var(--ytd-user-comment_-_letter-spacing);
    height: calc(1 * var(--ytd-subheadline-one-line-ellipsis_-_max-height));
    white-space: nowrap;
    
}


#tab-list ytd-playlist-panel-renderer#playlist #header-contents:hover #header-description, #tab-list ytd-playlist-panel-renderer#playlist  #header-contents:hover #header-description yt-formatted-string[class]{
    height: auto;
    max-height:none;
    white-space: normal;
}

#tab-list ytd-playlist-panel-renderer#playlist #header-contents {
    cursor:default;
}
#tab-list ytd-playlist-panel-renderer#playlist #header-contents #publisher-container, #tab-list ytd-playlist-panel-renderer#playlist #header-contents #playlist-actions{
    display:none;
}


#tab-list ytd-playlist-panel-renderer#playlist #header-contents:hover #publisher-container, #tab-list ytd-playlist-panel-renderer#playlist #header-contents:hover #playlist-actions{
    display:block;
}
 
#tab-list ytd-playlist-panel-renderer#playlist #container>.header{
box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 9;
    min-height: calc(1 * var(--ytd-subheadline-one-line-ellipsis_-_max-height));
    max-height:none;
    padding:10px 16px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.22);
}



/* ytd-playlist-panel-renderer */

#tab-list ytd-playlist-panel-renderer#playlist #container>.header+ #items{
    margin-top:calc(1 * var(--ytd-subheadline-one-line-ellipsis_-_max-height) + 32px);  
}
        
#tab-list ytd-playlist-panel-renderer#playlist #container>.header{
    background-color: var(--ytd-searchbox-legacy-button-focus-color);
    
}

#tab-list ytd-playlist-panel-renderer#playlist #container>.header yt-icon-button{
    background-color: var(--yt-spec-badge-chip-background);
}



/* hide playlist border & toggle button */